<mat-toolbar color="primary" class="mat-elevation-z6 app-header">

    <a mat-button-icon class="docs-button" routerLink="/" aria-label="Ganttilla">
    </a>

    <button mat-button routerLinkActive="mat-accent" routerLink="{{item.routerLink}}" *ngFor="let item of menu">
        {{item.label}}
    </button>

    <span class="fill-remaining-space"></span>

    <a mat-button href="http://www.keller-druck2.ch/swupdate/KOLIBRI/Roadmap/index.html">
        <span>ROADMAP KOLIBRI</span>
    </a>
</mat-toolbar>
